$circle-size: 100px;
$inset: 1px;
$border: 9999px;

// hover显示元素
@mixin afterBefore-public-styles {
  content: '';
  position: absolute;
  // 原有的高度上加2
  width: calc(100% + #{$inset}* 2);
  height: calc(100% + #{$inset}* 2);
  // 这里是befalor和after的样式
  // 所有四边均向外偏移1像素
  inset: calc(0 - #{$inset});
  z-index: -1;
}

// 白色字体渐变
@mixin titleBgc {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(180deg, #E8E8F6 0%, rgba(232, 232, 246, 0.72) 100%);
  background-clip: text;
  // 字体渐变蒙版
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
