$circle-size: 400px;
$inset: 1px;
$border: 9999px;

// hover显示元素
@mixin afterBefore-public-styles {
  content: '';
  position: absolute;
  // 原有的高度上加2
  width: calc(100% + #{$inset}* 2);
  height: calc(100% + #{$inset}* 2);
  // 所有四边均向外偏移1像素
  inset: -1px;
  z-index: -1;
}

// 白色字体渐变
@mixin titleBgc {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(180deg, #E8E8F6 0%, rgba(232, 232, 246, 0.72) 100%);
  background-clip: text;
  // 字体渐变蒙版
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// show
@mixin showStyle {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  pointer-events: none;
  background: radial-gradient($circle-size circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.01), transparent 40%);
  /* hover fill */
}
