// body背景颜色
$body-background-color:#0E0E13;
// 导航背景颜色
$head-background-color:rgba(25, 25, 32, 0.8);

// btn背景颜色
$btn-bgc-color:#1F1F26;
// btn active背景颜色
$btn-bgc-active-color:#6361DC;

// body字体颜色
$body-color:#E8E8F6;

// 卡片
$circle-size: 400px;
$inset: 1px;
$border: 6px;


